* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Courier New', monospace;
}
input {
	font-family: 'Courier New', monospace;
}

button {
	font-family: 'Courier New', monospace;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: black;
	border: rgba(97, 97, 97, 0.61) solid 1px;
	box-shadow: 0 9px #999;
}
button:hover {
	background-color: #dadada;
}
button:active {
	background-color: #aaaaaa;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.card-holder {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.card {
	/* width: 100%;
	height: 100%; */
	width: 100px;
	height: 150px;
	margin: 10px;
	/* text-align: center; */
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #f5f5f5;
	border-radius: 5px;
	box-shadow: 5px 5px #999;
}
