* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Courier New', monospace;
}
input {
	font-family: 'Courier New', monospace;
}

button {
	font-family: 'Courier New', monospace;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: black;
	border: rgba(97, 97, 97, 0.61) solid 1px;
	box-shadow: 0 9px #999;
}
button:hover {
	background-color: #dadada;
}
button:active {
	background-color: #aaaaaa;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

main {
	border: 2px solid;
	width: 60vw;
	max-width: 600px;
	height: max-content;
	margin: auto;
}

.title {
	text-align: center;
}

.subTitle {
	text-align: center;
	margin-top: 20px;
	font-weight: 500;
	text-decoration: underline;
	text-decoration-style: solid;
	padding-bottom: 10px;
}
.addBtn {
	display: block;
	margin: auto;
	width: 100px;
	height: 30px;
	margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
	main {
		width: 100%;
		border: none;
	}
}